.visualizer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.bar {
    width: 4px;
    border-radius: 2px;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.bar:nth-child(1) {
    animation-name: bar1;
    animation-delay: 0s;
}

.bar:nth-child(2) {
    animation-name: bar2;
    animation-delay: 0.1s;
}

.bar:nth-child(3) {
    animation-name: bar3;
    animation-delay: 0.2s;
}

.bar:nth-child(4) {
    animation-name: bar4;
    animation-delay: 0.15s;
}

.bar:nth-child(5) {
    animation-name: bar5;
    animation-delay: 0.05s;
}

.bar:nth-child(6) {
    animation-name: bar4;
    animation-delay: 0.25s;
}

.bar:nth-child(7) {
    animation-name: bar3;
    animation-delay: 0.3s;
}

.bar:nth-child(8) {
    animation-name: bar2;
    animation-delay: 0.2s;
}

.bar:nth-child(9) {
    animation-name: bar1;
    animation-delay: 0.1s;
}

@keyframes bar1 {
    0%, 100% { height: 13%; }
    50% { height: 67%; }
}

@keyframes bar2 {
    0%, 100% { height: 20%; }
    50% { height: 92%; }
}

@keyframes bar3 {
    0%, 100% { height: 33%; }
    50% { height: 58%; }
}

@keyframes bar4 {
    0%, 100% { height: 17%; }
    50% { height: 100%; }
}

@keyframes bar5 {
    0%, 100% { height: 25%; }
    50% { height: 75%; }
}